@font-face{
    font-family: yekan;
    src: url("../font/iranyekanwebbold.ttf");
}
*{
    font-family: yekan;
}
 a {
    text-decoration: none !important;
}
 a:hover {
    text-decoration: none !important;
}